# .flake8   configuration file
# This file is used to configure the behavior of flake8, a tool for checking the
# style guide enforcement for Python code.
# Set maximum line length to 88 characters      
# Set maximum line length to 88 characters      
 # Exclude certain directories and files from being checked
# line break before binary operator
 # whitespace before ':'
[flake8]
max-line-length = 88   
exclude =
    .git,
    __pycache__,
    venv,
    .venv,
    */site-packages/*,
    build,
    dist,
    .eggs,
    *.egg,
    .mypy_cache,
    .pytest_cache,
    node_modules
ignore =
    E203,
    W503,
